.dir-locals.el
# Local Netlify folder
.netlify

# editor related
.idea/
*.swo
*.swp

# macOS related
.DS_Store
.vscode/

.wasp/
.cursor/
node_modules/
migrations/

# Ignore all dotenv files by default to prevent accidentally committing any secrets.
# To include specific dotenv files, use the `!` operator or adjust these rules.
.env
.env.*